@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.navground {
  background: rgba(211, 139, 3, 0.874);
  background-size: 100% 100%;
  color: rgba(0, 0, 0, 0.899);
  font-family: "Dancing Script", cursive;
  font-size: 1.4em;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 2.7%; */
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  list-style: none;
  width: 100%;
  padding: 0;
  text-decoration: none;
}
